body {
  --slack-bg: #3f0f40;
  --slack-bg-dark: #49274b;
  --slack-input-bg: #421f44;
  --slack-hover: #340e36;
  --slack-online: green;
  overflow: hidden;
}

/* App Start */
.app__body {
  display: flex;
  height: 100vh;
}
/* App End */

/* Header Start */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  background-color: var(--slack-bg);
  color: #fff;
}

.header__left {
  flex: 0.3;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.header__left > .MuiSvgIcon-root {
  margin-left: auto;
  margin-right: 30px;
}

.header__middle {
  flex: 0.4;
  background-color: var(--slack-input-bg);
  text-align: center;
  display: flex;
  padding: 0 50px;
  color: gray;
  border: 1px gray solid;
  border-radius: 6px;
}

.header__middle > input {
  background-color: transparent;
  border: none;
  text-align: center;
  min-width: 35vw;
}

.header__right {
  flex: 0.3;
  display: flex;
  align-items: flex-end;
}

.header__right > .MuiSvgIcon-root {
  margin-left: auto;
  margin-right: 20px;
}
/* Header End */

/* Sidebar Start */
.sidebar {
  color: #fff;
  background-color: var(--slack-bg);
  border-top: 1px solid #49274b;
  max-width: 260px;
  flex: 0.3;
}

.sidebar__header {
  display: flex;
  border-bottom: 1px solid #49274b;
  padding-bottom: 10px;
  padding: 13px;
}

.sidebar__header > .MuiSvgIcon-root {
  padding: 8px;
  color: var(--slack-bg-dark);
  font-size: 18px;
  background-color: #fff;
  border-radius: 999px;
}

.sidebar__info {
  flex: 1;
}

.sidebar__info > h2 {
  font-size: 15px;
  font-weight: 900;
  margin-bottom: 5px;
}

.sidebar__info > h3 {
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 400;
}

.sidebar__info > h3 > .MuiSvgIcon-root {
  color: var(--slack-online);
  font-size: 14px;
  margin-top: 1px;
  margin-right: 1px;
}

.sidebar > hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #49274b;
}

.sidebarOption {
  display: flex;
  font-size: 12px;
  align-items: center;
  cursor: pointer;
  padding-left: 2px;
}

.sidebarOption:hover {
  opacity: 0.9;
  background-color: var(--slack-hover);
}

.sidebarOption__icon {
  padding: 10px;
  font-size: 15px !important;
}

.sidebarOption__channel {
  padding: 10px 0;
}

.sidebarOption__hash {
  padding: 10px;
}

.sidebarOption > h3 {
  font-weight: 500;
}
/* Sidebar End */

/* Chat Start */
.chat {
  flex: 0.7;
  flex-grow: 1;
  overflow-y: scroll;
  padding-bottom: 150px;
}

.chat__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid lightgray;
}

.chat__headerRight > p {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.chat__headerRight > p > .MuiSvgIcon-root {
  margin-right: 5px !important;
  font-size: 16px;
}

.chat__channelName {
  display: flex;
  text-transform: lowercase;
}

.chat__channelName > .MuiSvgIcon-root {
  margin-left: 10px;
  font-size: 18px;
}
/* Chat End */

/* Message Start */
.message {
  display: flex;
  align-items: center;
  padding: 20px;
}

.message > img {
  height: 50px;
  width: 50px;
  object-fit: contain;
}

.message__info {
  padding-left: 10px;
}

.message__timestamp {
  color: gray;
  font-weight: 300;
  font-size: 13px;
}
/* Message End */